In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import sklearn.model_selection 
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
# evaluate sklearn histogram gradient boosting algorithm for classification
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.impute import SimpleImputer
import random as rd
import timeit
import math
import sqlite3
from sqlalchemy import create_engine
from tsfresh import extract_features
from tsfresh import select_features

In [5]:
from tsfresh import feature_extraction

Data is made available in the local database "csv_database". SQLAlchemy and SQLite were used to create and load data into the database.

In [2]:
os.chdir(r'C:\Users\formy\Downloads\amex-default-prediction')
csv_database = sqlite3.connect('csv_database.db') 
pd.read_sql_query('SELECT customer_ID FROM data_use limit 1 ',csv_database)
df = pd.read_sql_query('SELECT * FROM data_use where customer_ID = "00000469ba478561f23a92a868bd366de6f6527a684c9a2e78fb826dcac3b9b7" ',csv_database)

In [3]:
# loading customer id's
import pickle
with open("train", "rb") as fp:   #UnPickling train
     train_customers = pickle.load(fp)
        
with open("test", "rb") as fp:   #UnPickling test
     test_customers = pickle.load(fp)

In [58]:
customer_slice = train_customers[0:10000]
slice_query = 'SELECT * FROM raw_train_data WHERE customer_ID in ('+"'" + "','".join(customer_slice)+"')"
df = pd.read_sql_query(slice_query,csv_database)
df_dum = pd.get_dummies(df,columns = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68'])
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #, weights='uniform', metric='nan_euclidean' 
df_d = df_dum.dropna(axis='columns', thresh=0.4*len(df_dum.index))
df_customers = df_d[['customer_ID','S_2']]
df_d = df_d.drop(['customer_ID','S_2'], axis=1)
imputer.fit(df_d)
df_imp = pd.DataFrame(imputer.transform(df_d),columns = df_d.columns)
df_imp['index1'] = df_imp.index
df_customers['index1'] = df_customers.index
df_final = df_imp.merge(df_customers)
df_final = df_final.drop(['index','index1'], axis=1)

In [61]:
timeseries_cols = list(df_final.columns)
timeseries_cols = [i for i in timeseries_cols if i not in ['customer_ID','S_2']]

In [63]:
#column_id="id", column_sort="time", column_kind=None, column_value=None
col = [timeseries_cols[0],'customer_ID','S_2']
df_piece = df_final[col]
df_labels = pd.read_csv('train_labels.csv')
df_full = df_final.merge(df_labels)
X = df_full.iloc[:,df_full.columns != 'target']
y = df_full[['customer_ID','target']]

In [ ]:
extracted_features = extract_features(X, column_id="customer_ID", column_sort="S_2")

Feature Extraction:   0%|                                                                       | 0/30 [00:00<?, ?it/s]

In [ ]:
y = y.groupby(['customer_ID']).mean()

In [ ]:
from tsfresh.utilities.dataframe_functions import impute
impute(extracted_features)
features_filtered = select_features(extracted_features, y.squeeze())

In [ ]:
features_filtered

In [55]:
type(y.squeeze())

pandas.core.series.Series

In [57]:
features_filtered

Empty DataFrame
Columns: []
Index: [0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a, 00000fd6641609c6ece5454664794f0340ad84dddce9a267a310b5ae68e9d8e5, 00001b22f846c82c51f6e3958ccd81970162bae8b007e80662ef27519fcc18c1, 000041bdba6ecadd89a52d11886e8eaaec9325906c9723355abb5ca523658edc, 00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad51ca8b8c4a24cefed, 000084e5023181993c2e1b665ac88dbb1ce9ef621ec5370150fc2f8bdca6202c, 000098081fde4fd64bc4d503a5d6f86a0aedc425c96f5235f98b0f47c9d7d8d4, 0000d17a1447b25a01e42e1ac56b091bb7cbb06317be4cb59b50fec59e0b6381, 0000f99513770170a1aba690daeeb8a96da4a39f11fc27da5c30a79db61c1e85, 00013181a0c5fc8f1ea38cd2b90fe8ad2fa8cad9d9f13e4063bdf6b0f7d51eb6]